body{
	font-family: Arial Narrow, arial;
	font-size: 16px;
	text-align: left;
}

#wholepage{
//background: green;
}
	#header{
	width: 100%;
	height: 80px;
	
	}
		#logo{
		width: 350px;
		height: 80px;
		background: #ffffff;
		float: left;
		}
			#logo img{
			width: 350px;
			height: 80px;
			}
		
		#timer{
		height: 40px;
		/*background: #0000ff;*/
		padding: 5px 100px 0px 0px;
		text-align: right;
		font-size: 25px;
		font-weight: bold;
		color: #3496CF;
		font-family: Stencil, Engravers MT, arial;
		}
		
		#topnav{
		background: #777;
		}
			#topnav ul{
			list-style: none;
			padding: 0px;margin: 0px;
			}
				#topnav ul li{
				display: block;position: relative;float: left;border:1px solid #000;
				
				}
					#topnav li ul{
					display: none;
					}
							   
					#topnav ul li a{
					display: block;background: #000;padding: 5px 10px 5px 10px;text-decoration: none;
					white-space: nowrap;color: #fff;}
					
					#topnav ul li a:hover{
					background: #f00;
					}
					
					#topnav li:hover ul 
					{display: block; position: absolute;}
					
					#topnav li:hover li {float: none;
					}
					
					#topnav li:hover a {background: #f00;}
					#topnav li:hover li a:hover {background: #000;}
				
				#topnav li ul li {border-top: 0px;}
					
				
				#topnav #current{
					background-color: orange;
					color: black;
					} 
			
					
	

	#mbody{
	width: 1050px;
	min-height: 650px;
	margin: 0px auto;
	//background: #ebffff;
	}

 		#leftnav{
			width: 150px;
			background: linear-gradient(to right, rgba(244,246,247,1) 0%,rgba(216,225,231,1) 91%,rgba(216,225,231,1) 93%,rgba(181,198,208,1) 95%,rgba(224,239,249,1) 100%); 
			//background: green;
			min-height: 619px;
			float: left;
			padding-left: 5px; 
		}
			#leftnav ul{
			padding: 2px 2px;
			list-style-type: none;
			}
				#leftnav ul li{
				padding: 5px 0px 5px 0px;
				}
					#leftnav ul li a{
						display: block;
						padding: 5px 0px 5px 10px;
						font-size: 15px;
						color: black;
						text-decoration: none;
					}
					
					#leftnav ul li strong{
						//background: linear-gradient(white, white, white, #7DBB62); 
						color: #236B95;;
					}
		
		#submenu{
			float: right; 
			width: 1050px;
			height: 20px;
			padding-top: 5px;
			background-color: orange;
			font-size: 14px;
		}
			#link{
				padding-left: 40px;
			}
		
		#maincontent{
			width: 890px;
			float: right;
			//background: green;
			min-height: 619px;
			font-size: 13px;
			font-family: arial, verdana; 
			text-align: center;
			//color: #B37400;
			padding: 20px 0px 0px 0px;
		}
			#poimg{
				height: 230px;
				width: 250px;
				padding: 20px 20px;
				float: left;
				//background: green;
			}
				#poimg img{
					height: 170px;
					width: 180px;
					padding: 0px 0px 10px 30px;
				}
			
			#dvimg{
				height: 230px;
				width: 250px;
				padding: 20px 20px;
				float: right;
				//background: red;
			}
				#dvimg img{
					height: 170px;
					width: 180px;
					padding: 0px 0px 10px 40px;
				}
			#rcvimg{
				height: 230px;
				width: 250px;
				padding: 20px 20px;
				float: left;
				//background: yellow;
			}
				#rcvimg img{
					height: 170px;
					width: 180px;
					padding: 0px 0px 10px 45px;
				}
				
		#maincontentb{
			width: 1050px;
			float: right;
			//background: green;
			min-height: 619px;
			font-size: 13px;
			font-family: arial, verdana; 
			text-align: center;
			//color: #B37400;
			padding: 20px 0px 0px 0px;
		}
		
	#footer{
		width: 100%;
		
		background-image: url('../images/ftr.jpg');
		background-repeat: no-repeat;
		background-position: center top;
		
	}
		#ftr{
			min-height: 30px;
			text-align: center;
			font-size: 13px;
			padding: 40px 0px 0px 0px;
			color: gray;
		}
		#footer a{
			text-decoration: none;
			color: #95BAE7;
			font-size: 15px;
		}
		#footer a:hover{
			color: #99ACBE;

		}